//<сетка>
$columns: 26
$atom: 100vw / 26
$aside_width: 4 * $atom
$container_width: 20 * $atom
$offset: $atom * .3
//</сетка>
//<цвета>
$grey: #131313
$light_grey: #8a8a8a
//</цвета>
//<брейкпоинты>
$extra_large: "max-width: 1550px"
$large: "max-width: 1150px"
$medium: "max-width: 768px"
$small: "max-width: 480px"
//</брейкпоинты>
//<теги>
body
    font-family: Courier New, Courier, monospace
a
    text-decoration: none
    color: inherit
h1, h2, h3
    margin: 0
    font-weight: unset
h2
    display: inline
//</теги>
//<основные_контейнеры>
.aside
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    top: 0
    left: 0 
    height: 100vh
    padding: $atom * .5 $offset
    box-sizing: border-box
    width: $aside_width
    background: $grey
    color: white
    @media($extra_large)
        font-size: 13px
    @media($large)
        width: $aside_width + 1.5 * $atom
    @media($medium)
        left: -150px
        width: 150px
        z-index: 1
        background: $grey       
    &--opened
        left: 0
    &__header
        text-align: center
    &__main
    &__footer
        display: flex
        flex-wrap: wrap
        justify-content: center
.opener
    position: fixed
    align-items: center
    justify-content: center
    display: none
    top: $atom * .25
    left: $atom * .25
    width: $atom * 2
    height: $atom * 2
    z-index: 1
    cursor: pointer
    background: pink
    box-shadow: 0px 0px 6px grey
    border-radius: 5px
    @media($medium)
        display: flex
    @media($small)
        width: $atom * 3.5
        height: $atom * 3.5
    &--on
        left: 154px
    &__icon
        width: 50px
        height: 50px
    &__sticks
        width: 20px
        height: 0px
        margin: auto
        background: white
        content: ""
        padding-top: 3px
        margin-top: 16px
        &::before
            display: block
            height: 3px
            margin-top: 4px
            background: white
            content: ""
        &::after
            display: block
            height: 3px
            margin-top: 4px
            background: white
            content: ""
        &--closing
            background: transparent
            &::before
                height: 2px
                transform: rotate(45deg)
            &::after
                margin-top: -2px
                height: 2px
                transform: rotate(-45deg)

.container
    position: absolute
    top: $atom
    right: $atom
    width: $container_width
    @media($large)
        width: $container_width - 1.5 * $atom
    @media($medium)
        width: $container_width + 2.5 * $atom
    @media($small)
        width: $container_width + 1 * $atom

.header
    text-transform: uppercase
    &__title
        display: flex
        align-items: center
        font-weight: bold
        @media($small)
            font-size: 13px
    &__arrow
        padding: 0 $offset
    &__current_page
        color: $light_grey
    &__subtitle
        display: flex
        justify-content: space-between
        align-items: flex-start
        font-size: 17px       
        padding: $offset 0
        @media($extra_large)
            font-size: 12px

.main
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin: $offset 0
//</основные_контейнеры>

//<блоки>
    //<глобальные_блоки>
.image
    position: relative
    width: 100%
    height: 100%
    overflow: hidden
    &__img
        position: absolute
        top: 0
        left: 0
        width: 100%
        vertical-align: bottom
.counter
    display: flex
    font-weight: bold
    height: 60px
    @media($small)
        height: 40px
    &__value
        border-top: 1px solid $light_grey
        border-bottom: 1px solid $light_grey
        border-left: 0
        border-right: 0
        outline: none
        width: 60px
        text-align: center
        @media($small)
            width: 40px
    &__decrementer, &__incrementer
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid $light_grey
        width: 40px
        cursor: pointer
        &:hover
            background: pink
.button
    display: flex
    justify-content: center
    align-items: center
    height: 60px
    width: 200px
    background: pink
    color: white
    cursor: pointer
    @media($small)
        width: 120px
        font-size: 12px
        height: 40px
    &__add_icon
        padding-right: 10px
        margin-left: -5px
    &--previous, &--forward
        width: auto
        height: auto
        background: none
        color: pink
        font-size: 21px
        @media($small)
            font-size: 12px
    &__arrow
        padding: 10px
        font-size: 16px
        font-weight: bold
    //</глобальные_блоки>
    //<блоки_aside>
.busket
    padding: 2vh 0
    cursor: pointer
    &:hover
        background: white
        color: $grey
.logo
    display: block
    &__title
        font-size: 42px
        @media($extra_large)
            font-size: 32px
        @media($large)
            font-size: 26px
    &:hover
        background: white
        color: $grey
.menu
    padding-bottom: $atom
    @media($large)
        padding-bottom: 0
    &__item
        display: block
        padding: 2vh 0
        &:hover
            background: white
            color: $grey
.phone
    cursor: pointer
    padding: 2vh
    margin: 0 -2vh
    letter-spacing: -1.5px
    @media($large)
        font-size: 12px
    &:hover
        background: white
        color: $grey
.social
    display: flex
    justify-content: center
    width: 100%
    &__icon
        padding: 2vh
        cursor: pointer
        &:hover
            background: white
            color: $grey
    //</блоки_aside>
    //<блоки_header>
.category
    display: flex
    flex-wrap: wrap
    &__item
        padding: 5px
        cursor: pointer
        &--active
            font-weight: bold
            background: pink
            color: white
        &:hover
            background: pink
            color: white
.nav_panel
    display: flex
    flex-wrap: nowrap
    max-height: min-content
    text-align: center
    justify-content: center
    align-items: center
    @media ($medium)
        flex-wrap: wrap
    &__sort_label
        font-weight: bold
        padding: 5px $offset/2
        @media ($medium)
            font-weight: unset
            flex-basis: 100%
            text-align: center
    &__sort_item
        cursor: pointer
        padding: 3px 5px
        font-size: 18px
        width: max-content
        &--active
            color: pink
        &:hover
            color: pink
    //</блоки_header>
    //<блоки_main>
.card
    display: flex
    flex-direction: column
    justify-content: space-between
    width: ($container_width / 4 ) - $offset/4*3
    margin-bottom: $offset
    text-align: center
    cursor: pointer
    @media ($large)
        width: (($container_width - 1.5*$atom) / 3 ) - $offset/3*2
    @media ($medium)
        width: ($container_width / 2) - $offset/2*1
        font-size: 12px
    &__image
        height: 5.5 * $atom
        @media ($large)
            height: 7 * $atom
        @media ($medium)
            height: 11 * $atom
    &__add_mini_button
        position: absolute
        display: none
        justify-content: center
        align-items: center
        left: 0
        bottom: 0
        height: 40px
        width: 40px
        background: pink
    &__add_icon
    &__name
        padding: $offset*.5
    &__price
        font-weight: bold
    &:hover
        .card__add_mini_button
            display: flex
.product
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
    &__image-wrap
        flex-basis: 36%
        @media($medium)
            flex-basis: 100%
    &__img
        width: 100%
        height: auto
        @media($medium)
            width: 36vw
    &__content
        flex-basis: 62% 
        @media($medium)
            flex-basis: 100%
    &__name
        font-size: 28px
        padding-bottom: $offset/2
        border-bottom: 1px solid $light_grey
        @media($medium)
            font-size: 18px
    &__price
        font-size: 28px
        font-weight: bold
        padding: $offset/2 0
        @media($medium)
            font-size: 18px
    &__text_block
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding: $offset/2 0
    &__text
        font-size: 14px
        color: $light_grey
        width: 48%
        @media($large)
            width: 100%
    &__include
        font-weight: bold
        padding: $offset/2 0
        @media($medium)
            font-size: 12px
    &__list
        color: $light_grey
        padding: $offset/2 0
    &__list_item
        padding: $offset/4 0
    &__buttons_container
        display: flex
        justify-content: space-between
        width: 48%
        padding: $offset/2 0
        @media($extra_large)
            width: 100%
    &__article
        color: $light_grey
        padding: $offset/2 0
.buttons_container
    display: flex
    justify-content: space-between
    width: 100%
    padding: $offset 0
    //</блоки_main>
//</блоки>
