@font-face {
  font-family: bebasneuebook;
  src: url("../fonts/bebasneuebook.eot");
  src: url("../fonts/bebasneuebook.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneuebook.woff") format("woff"), url("../fonts/bebasneuebook.ttf") format("truetype"); }

@font-face {
  font-family: bebasneueregular;
  src: url("../fonts/bebasneueregular.eot");
  src: url("../fonts/bebasneueregular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.ttf") format("truetype"); }

@font-face {
  font-family: gothamprolighter;
  src: url("../fonts/gothamprolighter.eot");
  src: url("../fonts/gothamprolighter.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamprolighter.woff") format("woff"), url("../fonts/gothamprolighter.ttf") format("truetype"); }

body {
  font-family: gothamprolighter; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3 {
  margin: 0;
  font-size: inherit;
  font-weight: normal; }

h2 {
  display: inline; }

.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1.92308vw 1.15385vw;
  box-sizing: border-box;
  width: 15.38462vw;
  background: #131313;
  color: white; }
  @media (max-width: 1550px) {
    .aside {
      font-size: 13px; } }
  @media (max-width: 1150px) {
    .aside {
      width: 21.15385vw; } }
  @media (max-width: 768px) {
    .aside {
      left: -150px;
      width: 150px;
      z-index: 1;
      background: #131313; } }
  .aside--opened {
    left: 0; }
  .aside__header {
    text-align: center; }
  .aside__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.opener {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: none;
  top: 0.96154vw;
  left: 0.96154vw;
  width: 7.69231vw;
  height: 7.69231vw;
  z-index: 1;
  cursor: pointer;
  background: pink;
  box-shadow: 0px 0px 6px grey;
  border-radius: 5px; }
  @media (max-width: 768px) {
    .opener {
      display: flex; } }
  @media (max-width: 480px) {
    .opener {
      width: 13.46154vw;
      height: 13.46154vw; } }
  .opener--on {
    left: 154px; }
  .opener__icon {
    width: 50px;
    height: 50px; }

.icon_sticks {
  width: 20px;
  height: 0px;
  margin: auto;
  background: white;
  content: "";
  padding-top: 3px;
  margin-top: 16px; }
  .icon_sticks::before {
    display: block;
    height: 3px;
    margin-top: 4px;
    background: white;
    content: ""; }
  .icon_sticks::after {
    display: block;
    height: 3px;
    margin-top: 4px;
    background: white;
    content: ""; }
  .icon_sticks--closing {
    background: transparent; }
    .icon_sticks--closing::before {
      height: 2px;
      transform: rotate(45deg); }
    .icon_sticks--closing::after {
      margin-top: -2px;
      height: 2px;
      transform: rotate(-45deg); }
  .icon_sticks--modal {
    margin-top: 0.48077vw;
    margin-right: 0.48077vw; }
    @media (max-width: 1150px) {
      .icon_sticks--modal {
        margin-top: 5px;
        margin-right: 5px; } }
    .icon_sticks--modal::before {
      background: black; }
    .icon_sticks--modal::after {
      background: black; }

.container {
  position: absolute;
  top: 3.84615vw;
  right: 3.84615vw;
  width: 76.92308vw; }
  @media (max-width: 1150px) {
    .container {
      width: 71.15385vw; } }
  @media (max-width: 768px) {
    .container {
      width: 86.53846vw; } }
  @media (max-width: 480px) {
    .container {
      width: 80.76923vw; } }

.header {
  font-family: bebasneueregular; }
  .header__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1.15385vw;
    font-size: 28px; }
    @media (max-width: 480px) {
      .header__title {
        font-size: 16px; } }
  .header__arrow {
    padding: 0 1.15385vw; }
  .header__current_page {
    color: #8a8a8a;
    font-weight: lighter;
    font-size: .7em; }
  .header__subtitle {
    display: flex;
    justify-content: space-between;
    font-family: bebasneuebook;
    font-size: 21px;
    padding-bottom: 1.15385vw; }
    @media (max-width: 1150px) {
      .header__subtitle {
        font-size: 18px;
        letter-spacing: .05em; } }
    @media (max-width: 480px) {
      .header__subtitle {
        font-size: 14px; } }

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1.15385vw 0; }

.image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .image__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: bottom; }

.counter {
  display: flex;
  font-weight: bold;
  height: 60px; }
  @media (max-width: 768px) {
    .counter {
      height: 30px; } }
  .counter__value {
    border-top: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
    border-left: 0;
    border-right: 0;
    outline: none;
    width: 60px;
    text-align: center; }
    @media (max-width: 768px) {
      .counter__value {
        width: 30px; } }
  .counter__decrementer, .counter__incrementer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8a8a8a;
    width: 40px;
    cursor: pointer; }
    @media (max-width: 768px) {
      .counter__decrementer, .counter__incrementer {
        width: 30px; } }
    .counter__decrementer:hover, .counter__incrementer:hover {
      background: pink; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  background: pink;
  color: white;
  cursor: pointer; }
  @media (max-width: 768px) {
    .button {
      width: 120px;
      font-size: 12px;
      height: 30px; } }
  .button__add_icon {
    padding-right: 10px;
    margin-left: -5px; }
  .button--previous, .button--forward {
    width: auto;
    height: auto;
    background: none;
    color: pink;
    font-size: 21px; }
    @media (max-width: 480px) {
      .button--previous, .button--forward {
        font-size: 12px; } }
  .button__arrow {
    padding: 10px;
    font-size: 16px;
    font-weight: bold; }

.busket {
  display: block;
  width: 100%;
  padding: 2vh 0;
  cursor: pointer; }
  .busket__icon {
    display: inline; }
  .busket:hover {
    background: white;
    color: #131313; }

.logo {
  display: block; }
  .logo__title {
    font-size: 42px; }
    @media (max-width: 1550px) {
      .logo__title {
        font-size: 32px; } }
    @media (max-width: 1150px) {
      .logo__title {
        font-size: 26px; } }
  .logo:hover {
    background: white;
    color: #131313; }

.menu {
  padding-bottom: 3.84615vw; }
  @media (max-width: 1150px) {
    .menu {
      padding-bottom: 0; } }
  .menu__item {
    display: block;
    padding: 2vh 0; }
    .menu__item:hover {
      background: white;
      color: #131313; }

.phone {
  cursor: pointer;
  padding: 2vh;
  margin: 0 -2vh; }
  @media (max-width: 1150px) {
    .phone {
      font-size: 12px; } }
  .phone:hover {
    background: white;
    color: #131313; }

.social {
  display: flex;
  justify-content: center;
  width: 100%; }
  .social__icon {
    padding: 2vh;
    cursor: pointer; }
    .social__icon:hover {
      background: white;
      color: #131313; }

.category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .category__item {
    padding: 5px;
    cursor: pointer; }
    .category__item--active {
      font-weight: bold;
      background: pink;
      color: white; }
    .category__item:hover {
      background: pink;
      color: white; }

.nav_panel {
  display: flex;
  flex-wrap: nowrap;
  max-height: min-content;
  text-align: center;
  justify-content: center;
  align-items: center; }
  @media (max-width: 768px) {
    .nav_panel {
      flex-wrap: wrap; } }
  .nav_panel__sort_label {
    font-weight: bold;
    padding: 5px 0.57692vw; }
    @media (max-width: 768px) {
      .nav_panel__sort_label {
        flex-basis: 100%;
        text-align: center; } }
  .nav_panel__sort_item {
    cursor: pointer;
    padding: 3px 5px;
    font-size: 18px;
    width: max-content; }
    .nav_panel__sort_item--active {
      color: pink; }
    .nav_panel__sort_item:hover {
      color: pink; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18.36538vw;
  margin-bottom: 1.15385vw;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 1150px) {
    .card {
      width: 22.94872vw; } }
  @media (max-width: 768px) {
    .card {
      width: 28.07692vw;
      font-size: 12px; } }
  @media (max-width: 480px) {
    .card {
      width: 37.88462vw; } }
  .card__image {
    height: 21.15385vw; }
    @media (max-width: 1150px) {
      .card__image {
        height: 26.92308vw; } }
    @media (max-width: 768px) {
      .card__image {
        height: 32.69231vw; } }
    @media (max-width: 480px) {
      .card__image {
        height: 44.23077vw; } }
  .card__add_mini_button {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    background: pink; }
  .card__name {
    padding: 0.57692vw; }
  .card__price {
    font-weight: bold; }
  .card:hover .card__add_mini_button {
    display: flex; }

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  .product__image_wrap {
    flex-basis: 36%; }
  .product__img {
    width: 100%;
    height: auto; }
  .product__content {
    flex-basis: 62%; }
    @media (max-width: 768px) {
      .product__content {
        flex-basis: 100%; } }
  .product__name {
    font-size: 28px;
    padding-bottom: 0.57692vw;
    border-bottom: 1px solid #8a8a8a; }
    @media (max-width: 768px) {
      .product__name {
        font-size: 18px; } }
    @media (max-width: 480px) {
      .product__name {
        font-size: 14px; } }
  .product__price {
    font-size: 28px;
    font-weight: bold;
    padding: 0.57692vw 0; }
    @media (max-width: 768px) {
      .product__price {
        font-size: 18px; } }
    @media (max-width: 480px) {
      .product__price {
        font-size: 14px; } }
  .product__text_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.57692vw 0; }
  .product__text {
    font-size: 14px;
    color: #8a8a8a;
    width: 48%; }
    .product__text--width {
      width: 90%; }
    @media (max-width: 1150px) {
      .product__text {
        width: 100%; } }
    @media (max-width: 768px) {
      .product__text {
        font-size: 12px; } }
  .product__include {
    font-weight: bold;
    padding: 0.57692vw 0; }
    @media (max-width: 768px) {
      .product__include {
        font-size: 12px; } }
  .product__list {
    color: #8a8a8a;
    padding: 0.57692vw 0; }
  .product__list_item {
    padding: 0.28846vw 0; }
  .product__buttons_container {
    display: flex;
    justify-content: space-between;
    width: 48%;
    padding: 0.57692vw 0; }
    .product__buttons_container--width {
      width: 90%; }
    @media (max-width: 1550px) {
      .product__buttons_container {
        width: 100%; } }
  .product__article {
    color: #8a8a8a;
    padding: 0.57692vw 0;
    font-size: 14px; }

.buttons_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.15385vw 0; }

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  top: 0;
  right: 0;
  height: 100vh;
  background: rgba(138, 138, 138, 0.5);
  width: 84.61538vw;
  margin-right: -17px; }
  .modal--hidden {
    display: none; }
  .modal__product {
    position: relative;
    width: 1000px;
    background: white;
    padding: 1.92308vw;
    flex-wrap: nowrap;
    margin-right: 17px; }
    .modal__product__close_icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 1.92308vw;
      height: 1.92308vw;
      min-width: 30px;
      min-height: 30px;
      cursor: pointer; }
    .modal__product__image_wrap {
      flex-basis: 48%; }
      @media (max-width: 1150px) {
        .modal__product__image_wrap {
          flex-basis: 20%; } }
    .modal__product__content {
      flex-basis: 48%;
      padding-left: 10px; }
      @media (max-width: 1150px) {
        .modal__product__content {
          flex-basis: 78%; } }
    @media (max-width: 1150px) {
      .modal__product__text {
        max-height: 10vh;
        overflow: auto; } }
    @media (max-width: 1150px) {
      .modal__product {
        width: 700px;
        max-height: 80vh;
        overflow: auto; } }
    @media (max-width: 768px) {
      .modal__product {
        width: 90%;
        margin-right: 0; } }
    @media (max-width: 480px) {
      .modal__product {
        padding-top: 20px; } }
  @media (max-width: 1150px) {
    .modal {
      width: 78.84615vw; } }
  @media (max-width: 768px) {
    .modal {
      width: 100vw;
      margin-right: 0; } }
