@font-face {
  font-family: bebasneuebook;
  src: url("../fonts/bebasneuebook.eot");
  src: url("../fonts/bebasneuebook.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneuebook.woff") format("woff"), url("../fonts/bebasneuebook.ttf") format("truetype");
}

@font-face {
  font-family: bebasneueregular;
  src: url("../fonts/bebasneueregular.eot");
  src: url("../fonts/bebasneueregular.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.ttf") format("truetype");
}

@font-face {
  font-family: gothamprolighter;
  src: url("../fonts/gothamprolighter.eot");
  src: url("../fonts/gothamprolighter.eot?#iefix") format("embedded-opentype"), url("../fonts/gothamprolighter.woff") format("woff"), url("../fonts/gothamprolighter.ttf") format("truetype");
}

body {
  position: relative;
  font-family: gothamprolighter;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

.body_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: inherit;
  font-weight: unset;
}

h2,
h3 {
  margin: 0;
  font-size: inherit;
  font-weight: unset;
}

h2 {
  display: inline;
}

input {
  font-size: inherit;
  outline: none;
}

.aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1.92308vw 1.15385vw;
  box-sizing: border-box;
  width: 15.38462vw;
  background: #131313;
  color: white;
  overflow: hidden;
  z-index: 2;
}

.aside__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding-right: 50px;
  margin-right: -50px;
}

.aside__header {
  text-align: center;
}

.aside__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opener {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: none;
  top: 0.96154vw;
  left: 0.96154vw;
  width: 7.69231vw;
  height: 7.69231vw;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 0px 6px grey;
  border-radius: 5px;
}

.opener__icon {
  width: 50px;
  height: 50px;
}

.opener--on {
  left: 154px;
}

.icon_sticks {
  width: 20px;
  height: 0px;
  margin: auto;
  background: white;
  content: "";
  padding-top: 3px;
  margin-top: 16px;
}

.icon_sticks::before {
  display: block;
  height: 3px;
  margin-top: 4px;
  background: white;
  content: "";
}

.icon_sticks::after {
  display: block;
  height: 3px;
  margin-top: 4px;
  background: white;
  content: "";
}

.icon_sticks--closing {
  background: transparent;
}

.icon_sticks--closing::before {
  height: 2px;
  transform: rotate(45deg);
}

.icon_sticks--closing::after {
  margin-top: -2px;
  height: 2px;
  transform: rotate(-45deg);
}

.icon_sticks--black::before {
  background: black;
}

.icon_sticks--black::after {
  background: black;
}

.icon_sticks--modal {
  margin-top: 0.48077vw;
  margin-right: 0.48077vw;
}

.icon_sticks--table {
  margin-top: 25%;
  height: 100%;
  display: block;
}

.container {
  position: relative;
  padding-top: 3.84615vw;
  padding-left: 19.23077vw;
  width: 76.92308vw;
  height: 100%;
}

.container--width--min_content {
  position: absolute;
  top: 3.84615vw;
  padding: 0;
  max-width: 255px;
  height: auto;
  left: 19.23077vw;
  z-index: 1;
}

.header {
  font-family: bebasneueregular;
  flex-basis: 100%;
}

.header__title {
  display: flex;
  align-items: center;
  padding-bottom: 1.15385vw;
  font-size: 28px;
}

.header__arrow {
  padding: 0 1.15385vw;
  padding-bottom: 3px;
  font-weight: 100;
  font-size: .75em;
}

.header__current_page {
  color: #ababab;
  font-weight: lighter;
  font-size: .7em;
  padding-top: 1px;
}

.header__subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: bebasneuebook;
  font-size: 21px;
  padding-bottom: 1.15385vw;
}

.main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1.15385vw 0;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: bottom;
}

.counter {
  display: flex;
  font-weight: bold;
  height: 60px;
  width: 140px;
}

.counter__value {
  border: 0;
  outline: none;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  width: 40%;
  text-align: center;
}

.counter__decrementer,
.counter__incrementer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ababab;
  width: 30%;
  cursor: pointer;
}

.counter__decrementer:hover,
.counter__incrementer:hover {
  color: white;
}

.counter--small {
  height: 40px;
  width: 100px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 200px;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
}

.button:hover {
  background: white;
}

.button:hover .button__add_icon {
  filter: brightness(100%) invert(0);
}

.button__add_icon {
  padding-right: 10px;
  margin-left: -5px;
  filter: brightness(0%) invert(1);
}

.button__arrow {
  padding: .5em;
  font-size: .6em;
}

.button__arrow--previous {
  transform: rotate(45deg);
}

.button__arrow--forward {
  transform: rotate(-135deg);
}

.button--previous,
.button--forward {
  font-family: bebasneuebook;
  font-size: 24px;
  width: auto;
  height: auto;
}

.button--color--black {
  color: black;
}

.button--promo {
  font-size: 1.5em;
  justify-content: flex-start;
  font-family: bebasneuebook;
  border: unset;
  color: black;
  border-bottom: 2px solid black;
  padding-left: .5em;
}

.busket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vh 0;
  cursor: pointer;
}

.busket__wrap {
  position: relative;
  margin-right: 5px;
}

.busket__icon {
  padding: 0 5px;
  filter: brightness(0%) invert(1);
}

.busket__count {
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 10px;
  color: white;
}

.busket:hover {
  background: white;
  color: #131313;
}

.busket:hover .busket__icon {
  filter: brightness(100%) invert(0);
}

.logo {
  display: block;
}

.logo__title {
  font-size: 42px;
  margin: 0;
}

.logo:hover {
  background: white;
  color: #131313;
}

.menu {
  padding-bottom: 3.84615vw;
}

.menu__item {
  display: block;
  padding: 2vh 0;
}

.menu__item:hover,
.menu__item.--active {
  background: white;
  color: #131313;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2vh;
  margin: 0 -2vh;
}

.phone__icon {
  padding: 5px;
  filter: brightness(0%) invert(1);
}

.phone:hover {
  background: white;
  color: #131313;
}

.phone:hover .phone__icon {
  filter: brightness(100%) invert(0);
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social__item {
  padding: 2vh;
  cursor: pointer;
}

.social__item__icon {
  filter: brightness(0%) invert(1);
}

.social__item:hover {
  background: white;
}

.social__item:hover .social__item__icon {
  filter: brightness(100%) invert(0);
}

.category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}

.category__item {
  padding: 5px;
  cursor: pointer;
}

.category__item--active {
  font-weight: bold;
  color: white;
}

.category__item:hover {
  color: white;
}

.nav_panel {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.nav_panel__sort_label {
  font-weight: bold;
  padding: 5px;
}

.nav_panel__sort_item {
  display: block;
  padding: 5px;
  white-space: nowrap;
}

.nav_panel__box {
  position: absolute;
  display: none;
  top: 35px;
  right: 0;
  z-index: 2;
  background: white;
}

.nav_panel__box.--opened {
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  width: 24%;
  margin: .5%;
  margin-bottom: 1.15385vw;
}

.card__image {
  height: 18.84615vw;
}

.card__add_mini_button {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
}

.card__name {
  padding: 0.57692vw;
}

.card__price {
  font-weight: bold;
}

.card:hover .card__add_mini_button {
  display: flex;
}

.card:hover .card__icon {
  filter: brightness(0%) invert(1);
}

.card--hidden {
  display: none;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product__content {
  flex-basis: 62%;
}

.product__name {
  font-size: 28px;
  padding-bottom: 0.57692vw;
  border-bottom: 1px solid #ababab;
}

.product__price {
  font-size: 28px;
  font-weight: bold;
  padding: 0.57692vw 0;
}

.product__text_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.57692vw 0;
}

.product__text {
  font-size: 14px;
  color: #ababab;
  width: 48%;
}

.product__text--width {
  width: 90%;
}

.product__include {
  font-weight: bold;
  padding: 0.57692vw 0;
}

.product__list {
  color: #ababab;
  padding: 0.57692vw 0;
}

.product__list_icon {
  padding-right: 0.57692vw;
}

.product__list_item {
  display: flex;
  align-items: center;
  padding: 0.28846vw 0;
}

.product__buttons_container {
  display: flex;
  justify-content: space-between;
  width: 48%;
  padding: 0.57692vw 0;
}

.product__buttons_container--width {
  width: 90%;
}

.product__article {
  color: #ababab;
  padding: 0.57692vw 0;
  font-size: 14px;
}

.gallery {
  width: 36%;
  font-size: 0;
}

.gallery__main_image {
  width: 100%;
  height: 26.92308vw;
  margin: auto;
}

.gallery__image {
  display: inline-block;
  width: 7.69231vw;
  height: 7.69231vw;
  margin-right: 5px;
  cursor: pointer;
}

.gallery__wrap_box {
  display: inline-block;
  width: 85%;
  max-width: 85%;
  overflow: hidden;
}

.gallery__box {
  margin-top: 0.96154vw;
  height: 7.69231vw;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 50px;
  margin-bottom: -50px;
}

.gallery__arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7.5%;
  height: 7.69231vw;
  vertical-align: top;
  margin-top: 0.96154vw;
  cursor: pointer;
  font-size: 21px;
  color: #131313;
  user-select: none;
}

.gallery__arrow:hover {
  box-shadow: 0 0 2px #ababab;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.15385vw 0;
}

.buttons_container__total_price {
  font-family: bebasneuebook;
  font-size: 32px;
}

.buttons_container__total_price_value {
  font-weight: bold;
}

.buttons_container--darkened {
  background-color: #f7f7f7;
  padding: 2.30769vw;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(19, 19, 19, 0.5);
}

.modal--hidden {
  display: none;
}

.modal__product {
  position: relative;
  background: white;
  padding: 1.92308vw;
  flex-wrap: nowrap;
  width: 1000px;
  margin-left: 15.38462vw;
  max-height: 80vh;
  overflow: auto;
}

.modal__product__close_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.92308vw;
  height: 1.92308vw;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}

.modal__product__image_wrap {
  flex-basis: 48%;
}

.modal__product__content {
  flex-basis: 48%;
  padding-left: 10px;
}

.table {
  width: 100%;
}

.table__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.15385vw;
  border-bottom: 1px solid rgba(171, 171, 171, 0.25);
}

.table__row--head {
  padding-bottom: 1.15385vw;
}

.table__half {
  display: flex;
  flex-basis: 500px;
}

.table__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: 100%;
}

.table__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.table__image {
  width: 100px;
  height: 100px;
}

.table__price {
  white-space: nowrap;
}

.table__total_price {
  white-space: nowrap;
}

.payment_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 800px;
  margin-bottom: 2.30769vw;
}

.payment_table__cell {
  flex-basis: 48%;
}

.payment_table__cell_name {
  font-weight: bold;
  margin: 25px 0;
}

.payment_table__cell_name_important {
  color: red;
}

.payment_table__cell_value {
  border: unset;
  border-bottom: 1px solid #ababab;
  width: 100%;
  color: #ababab;
  padding-bottom: 0.57692vw;
}

.payment_choice {
  flex-basis: 100%;
  padding-bottom: 25px;
}

.payment_choice__text {
  color: #5f5f5f;
}

.payment_choice__important {
  color: red;
  font-weight: bold;
}

.content {
  flex-basis: 800px;
  line-height: 1.5em;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 24px;
  font-family: bebasneueregular;
  line-height: .9;
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.promo:first-child {
  opacity: 1;
}

.promo__item {
  padding: 1.15385vw;
  width: 100%;
}

.promo__item--category {
  font-size: 3em;
}

.promo__item--name {
  font-size: 5em;
  color: white;
}

.promo--hidden {
  display: none;
}

.description {
  padding: 1.15385vw;
  color: #ababab;
  background: #131313;
  overflow: hidden;
  min-width: 250px;
  margin-top: 3.84615vw;
}

.description__box {
  max-height: 25vh;
  overflow: auto;
  padding-right: 50px;
  margin-right: -50px;
}

.description p {
  margin: 0;
}

.contacts {
  width: 200px;
  box-shadow: 0px 0px 20px rgba(19, 19, 19, 0.2);
  padding: 1.15385vw;
  margin-left: 1.15385vw;
  font-weight: bold;
  background: #fff;
}

.contacts__item--name {
  font-family: bebasneueregular;
  font-size: 1.4em;
}

.contacts__item--value {
  padding: 1.15385vw 0;
}

.contacts__item--value p {
  margin: 0;
}

.map {
  position: absolute;
  left: 15.38462vw;
  right: 0;
  width: 84.61538vw;
  top: 0;
  height: 100%;
  z-index: 0;
  filter: grayscale(90%);
  border: 0;
}

@media (max-width: 1550px) {
  .aside {
    font-size: 13px;
  }

  .logo__title {
    font-size: 32px;
  }

  .product__buttons_container {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .aside {
    width: 21.15385vw;
  }

  .icon_sticks--modal {
    margin-top: 5px;
    margin-right: 5px;
  }

  .container {
    padding-left: 25vw;
    width: 71.15385vw;
  }

  .container--width--min_content {
    left: 0;
    top: 3.84615vw;
  }

  .header__subtitle {
    font-size: 18px;
    letter-spacing: .05em;
  }

  .logo__title {
    font-size: 26px;
  }

  .menu {
    padding-bottom: 0;
  }

  .phone {
    font-size: 12px;
  }

  .card__image {
    height: 23.84615vw;
  }

  .card {
    width: 32.5%;
    margin: .416%;
    font-size: 14px;
  }

  .product__text {
    width: 100%;
  }

  .modal__product__image_wrap {
    flex-basis: 20%;
  }

  .modal__product__content {
    flex-basis: 78%;
  }

  .modal__product__text {
    max-height: 10vh;
    overflow: auto;
  }

  .modal__product {
    width: 700px;
    margin-left: 21.15385vw;
  }

  .table {
    font-size: 12px;
  }

  .table__icon {
    height: 25px;
    width: 25px;
  }

  .table__image {
    width: 3.84615vw;
    height: 3.84615vw;
  }

  .promo {
    font-size: 18px;
  }

  .map {
    left: 21.15385vw;
    width: 78.84615vw;
  }
}

@media (max-width: 768px) {
  .aside {
    left: -150px;
    width: 150px;
    background: #131313;
  }

  .aside--opened {
    left: 0;
  }

  .opener {
    display: flex;
  }

  .container {
    padding-left: 9.61538vw;
    width: 86.53846vw;
  }

  .container--width--min_content {
    max-width: 170px;
    top: 11.53846vw;
  }

  .counter {
    height: 40px;
    font-size: 12px;
    width: 100px;
  }

  .button {
    width: 120px;
    font-size: 14px;
    height: 38px;
  }

  .card__image {
    height: 28.84615vw;
  }

  .card .card__add_mini_button {
    display: flex;
  }

  .card .card__icon {
    filter: brightness(0%) invert(1);
  }

  .product__content {
    flex-basis: 100%;
  }

  .product__name {
    font-size: 18px;
  }

  .product__price {
    font-size: 18px;
  }

  .product__text {
    font-size: 12px;
  }

  .product__include {
    font-size: 12px;
  }

  .gallery__main_image {
    width: 38.46154vw;
    height: 38.46154vw;
  }

  .gallery__image {
    width: 15.38462vw;
    height: 15.38462vw;
  }

  .gallery__wrap_box {
    width: 100%;
    max-width: 100%;
  }

  .gallery__box {
    height: 15.38462vw;
  }

  .gallery__arrow {
    display: none;
  }

  .gallery {
    width: 100%;
  }

  .buttons_container__total_price {
    font-size: 14px;
  }

  .buttons_container--fullsize {
    min-width: 100vw;
    margin-left: -7.69231vw;
  }

  .modal__product {
    width: 90%;
    margin-left: 0;
  }

  .table {
    min-width: 100vw;
    margin-top: 3.84615vw;
    margin-left: -7.69231vw;
  }

  .table__row {
    padding: 0 0.57692vw;
  }

  .table__half {
    flex-basis: 60%;
  }

  .table__item--image {
    display: none;
  }

  .table__name {
    padding-left: 28px;
  }

  .table__counter {
    max-width: 70px;
    max-height: 30px;
  }

  .promo__item--category {
    font-size: 1.5em;
  }

  .promo__item--name {
    font-size: 3em;
  }

  .promo {
    font-size: 16px;
  }

  .contacts {
    font-size: 12px;
    width: 150px;
  }

  .map {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .opener {
    width: 13.46154vw;
    height: 13.46154vw;
  }

  .container {
    padding-left: 15.38462vw;
    width: 80.76923vw;
  }

  .header__title {
    font-size: 16px;
  }

  .header__subtitle {
    font-size: 14px;
  }

  .nav_panel__box {
    top: 27px;
  }

  .card__image {
    height: 40.76923vw;
  }

  .card {
    width: 49%;
    margin: .5%;
    font-size: 12px;
  }

  .product__name {
    font-size: 14px;
  }

  .product__price {
    font-size: 14px;
  }

  .buttons_container--fullsize {
    min-width: 100vw;
    margin-left: -15.38462vw;
  }

  .table {
    min-width: 100vw;
    margin-top: 7.69231vw;
    margin-left: -15.38462vw;
  }

  .table__half--name {
    flex-basis: 40%;
  }

  .table__name {
    max-width: 96px;
    overflow: hidden;
  }

  .promo__item {
    background: rgba(255, 255, 255, 0.4);
  }

  .promo {
    padding-top: 15.38462vw;
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }
}